#FriendsListPage {
    .add-friend-button {
        margin-bottom: 10px;
    }

    .search {
        margin-bottom: 20px;
    }

    .friends-list-group {
        max-height: 70vh;
        overflow-y: auto;
    }
}