#Loader {
    .loader-container {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000; 
        opacity: 0.3;
    }

    .spinner-container {
        position: relative;
        width: 2rem;
        margin: 0;
        top: 50vh;
        right: -50vw;
        z-index: 10;
    }
}